@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "manrope" sans-serif; 
}
.herosection{
    width: 100%;
    height: 100vh;
    /* border: 1px solid red; */
    background-image: url("./travelgo/bgimage.png");
    background-position: top-left;
    background-size: cover;
    background-repeat: no-repeat;
}
.header{
    width: 100%;
    height: 70px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo{
    width: 100px;
    height: 50px;
    /* border: 1px solid hotpink; */
}
.nav {
    width: 300px;
    height: 50px;
    /* border: 1px solid hotpink; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav a{
    width: 85px;
    height: 30px;
    /* border: 1px solid blue; */
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #ffffff;
    font-size: 20px;
    
}
.profile{
    width: 110px;
    height: 50px;
    /* border: 1px solid hotpink; */
    display: flex;
    justify-content: space-between;
    align-items: center
}
.hero-content{
    width: 50%;
    /* border: 1px solid pink; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    margin-bottom: 100px ;
    justify-items: center;
    
}

.tagline h1{
    font-size: 50px;
    color: #ffffff;
    text-align: center;
    margin-top: 50px;
    line-height: 60px;
    width: 500px;
}
.herotext p{
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
    width: 400px;
}
.cta button{
    width: 214px;
    height: 64px;
    background-color: #00a651;
    color: #ffffff;
    display: block;
    margin: 20px auto;
    border-radius: 10px;
    /* border-color: #00a651; */
}
.service-rap{
    padding: 50px;
    background-color: #ffffff;
}
.service-rap h1{
    text-align: center;
    margin-bottom: 40px;
    font-size: 40px;
}
.service-card-rap{
    display: flex;
    gap: 100px;
    /* border: 1px solid green; */
    height: 300px;
    align-items: center;
    padding: 50px 50px;
    background-color: #ffffff;

}
.card-grey{
    /* border: 1px solid red; */
    width: 416px;
    height: 232px;
    border-radius: 15px;
    background-color: #f9f9f9;
    padding: 40px 35px;
}
.card-grey h6{
    font-weight: 800px;
    font-size: 20px;
    margin-top: 18px;
    margin-bottom: 13px;
}
.card-white{
    /* border: 1px solid red; */
    width: 416px;
    height: 232px;
    border-radius: 15px;
    padding: 40px 35px;
    background-color: #FFFFFF;
    

}
.card-white h6{
    font-weight: 800px;
    font-size: 20px;
    margin-top: 18px;
    margin-bottom: 13px;  
}
.card-greyii{
    /* border: 1px solid red; */
    width: 416px;
    height: 232px;
    border-radius: 15px;
    background-color: #f9f9f9;
    padding: 40px 35px;
}
.card-greyii h6{
    font-weight: 800px;
    font-size: 20px;
    margin-top: 18px;
    margin-bottom: 13px;    
}



.best-section{
    padding: 50px;
    width: 1751;
    height: 450px;
    /* border: solid red; */
    background-image: url(./travelgo/world_map.png);
    background-color: rgb(227, 236, 248);
    /* justify-items: center; */
}

.best-section-content {
    margin-top: 0px;
    /* border: 1px solid green; */
    justify-items: center;
}
.best-section-content h1{
    font-size: 35px;
    font-weight: 700px;
    text-align: center;
    width: 518px;
    /* height: 40px; */
    /* margin: 0px auto; */
    
    
}
.best-section-content p{
    font-size: 15px;
    font-weight: 400px;
    text-align: center;
    width: 495px;
    margin-top: 10px;
    /* height: 44px; */
    /* margin: 45px auto; */
    
}
.best-section-wrap{
    width: 1500;
    height: 250px;
    display: flex;
    /* border: solid red; */
    align-items: center;
    /* gap: 100px; */
    justify-content: space-between;
}
.experience{
    /* border: 1px solid red; */
    width: 200px;
    height: 170px;
    border-radius: 15px;
    justify-items: center;
    background-color: #ffffff;
    align-items: center;
    padding-top: 30px;
    
}

.experience h3{
    margin-top: 15px;
    margin: bottom 15px;
    text-align: center;
    
}
.experience h6{
    /* ,,,,,,,,,,,, */
    margin-top: 10px;
    margin: bottom 15px;
    text-align: center;
}
.travellers{
    /* border: 1px solid red; */
    width: 200px;
    height: 170px;
    border-radius: 15px;
    justify-items: center;
    background-color: #ffffff;
    align-items: center;
    padding-top: 30px;
}
.travellers h3{
    /* ,,,,,,,,,,,, */
    margin-top: 10px;
    margin: bottom 15px;
    text-align: center;
}
.travellers h6{
    /* ,,,,,,,,,,,, */
    margin-top: 10px;
    margin: bottom 15px;
    text-align: center;
}
.visited{
    /* border: 1px solid red; */
    width: 200px;
    height: 170px;
    border-radius: 15px;
    justify-items: center;
    background-color: #ffffff;
    align-items: center;
    padding-top: 30px;
}
.visited h3{
    /* ,,,,,,,,,,,, */
    margin-top: 10px;
    margin: bottom 15px;
    text-align: center;
}
.visited h6{
    /* ,,,,,,,,,,,, */
    margin-top: 10px;
    margin: bottom 15px;
    text-align: center;
}
.history{
    /* border: 1px solid red; */
    width: 200px;
    height: 170px;
    border-radius: 15px;
    justify-items: center;
    background-color: #ffffff;
    align-items: center;
    padding-top: 30px;
    

}
.history h3{
    /* ,,,,,,,,,,,, */
    margin-top: 10px;
    margin: bottom 15px;
    text-align: center;
}
.history h6{
    /* ,,,,,,,,,,,, */
    margin-top: 10px;
    margin: bottom 15px;
    text-align: center;
}
.our-population-destinations{
    /* border: 1px solid blue; */
}
.our-population-destinations h2{
    text-align: center;
    font-size: 40px;
    margin: 20px 0px;
}
.population-wrap{
    display: flex;
    /* gap: 100px; */
    height: 500px;
    /* border: 1px solid green; */
    justify-content: space-around;
}
.tin_wrap{
    justify-items: space-between;
    gap: 20px;
    /* border: 1px solid red; */
    height: 450px;
    margin-top: 20px;
}
.thailand{
    width: 450px;
    height: 100px;
    display: flex;
    /* border: 1px solid black; */
    border-radius: 15px;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}
.thai{
    width: 100px;
    height: 100px;
}
.arr{
    width: 20px;
    height: 20px;
}
.indonesia{
    width: 450px;
    height: 100px;
    display: flex;
    /* border: 1px solid black; */
    border-radius: 15px;
    justify-content: space-between;
    align-items: center;
    margin:50px 0px;
}
.indo{
    width: 100px;
    height: 100px;
}
.arr2{
    width: 20px;
    height: 20px;
}
.New_Zealand{
    width: 450px;
    height: 100px;
    display: flex;
    /* border: 1px solid black; */
    border-radius: 15px;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0px;
}
.new{
    width: 100px;
    height: 100px;
}
.arr3{
    width: 20px;
    height: 20px;
}
.best-package-section {
    /* border: 1px solid blue; */
    width: 100%;
    height: 115vh;
    padding: 40px 60px;
    background-color:  #ECF1F0;
    justify-items: center;
    justify-content: space-between;
}
.best-package-section h2{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}
.package_wrap {
    width: 100%;
    height: 100px;
    /* border: 1px solid green; */
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    padding: 20px;
    margin: 30px 0px;
}
.tab{
    /* border: 1px solid red; */
    width: 180px;
    height: 50px;
    background-color: #666666;
    color: #ffffff;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 15px;
}
.packages-cards{
    display: flex;
    justify-content: space-around;
    justify-items: center;
    align-items: center;

}
.card1-content{
    padding: 10px;
}

.package-card1{
    height: 340px;
    width: 337px;
    /* border: 1px solid orange; */
    background-color: #ffffff;
    margin: 0px 40px;
    
}
.package-card1 img{
    width: 334px;
    height: 65%;
}
.card1-content > p{
    font-size: 10px;
    margin-top: 10px 0px;
    width: 80%;
    padding: 10px;
}
.pc1-content1{
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
    
}
.pc1-content2{
    display: flex;
    justify-content: space-between;
    margin: 10px 10px;
}
.pc1-content2 img{
    width: 10px;
    height: 10px;
}

/* packages-card second card */

.card2-content{
    padding: 10px;
}

.package-card2{
    height: 340px;
    width: 337px;
    /* border: 1px solid orange; */
    background-color: #ffffff;
    margin: 0px 40px;
    
}
.package-card2 img{
    width: 334px;
    height: 65%;
}
.card2-content > p{
    font-size: 10px;
    margin-top: 10px 0px;
    width: 80%;
    padding: 10px;
}
.pc2-content1{
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
    
}
.pc2-content2{
    display: flex;
    justify-content: space-between;
    margin: 10px 10px;
}
.pc2-content2 img{
    width: 10px;
    height: 10px;
}

/* packages-card third card in packages section*/
.card3-content{
    padding: 10px;
}

.package-card3{
    height: 340px;
    width: 337px;
    /* border: 1px solid orange; */
    background-color: #ffffff;
    margin: 0px 40px;
    
}
.package-card3 img{
    width: 334px;
    height: 65%;
}
.card3-content > p{
    font-size: 10px;
    margin-top: 10px 0px;
    width: 80%;
    padding: 10px;
}
.pc3-content1{
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
    
}
.pc3-content2{
    display: flex;
    justify-content: space-between;
    margin: 10px 10px;
}
.pc3-content2 img{
    width: 10px;
    height: 10px;
}
.best-package-section button {
    width: 200px;
    height: 50px;
    background-color: #00a651;
    color: white;
    border-radius: 15px;
    margin-top: 30px;
    border-color: #00a651;
    
}

/* book section */
.book-section {
    width: 100%;
    height: 90vh;
    padding: 10px;
}

.book-section h2{
    font-size: 35px;
    text-align: center;
    margin-top: 20px;
}
.book-section p{
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
}
.trip{
    height:600px;
    width: 100%;
    display: flex;
    justify-items: center;
    justify-content: space-around;
    padding: 20px;
    /* border: 1px solid red; */
}
.trip img{
    display: block;
    /* margin: auto auto; */
    width: 800px;
    height: 600px;
}


 /* testimony section */
.testimony {
    width: 100%;
    height: 110vh;
    /* border: 1px solid green; */
    padding: 25px 60px;
    margin-top: 170px;
    background-color:  #ECF1F0;
    ;
}
.testimony h2{
    text-align: center;
    margin: 10px 20px;
    font-size: 35px;

}
.testimony-wrap{
    width: 100%;
    height: 550px;
    /* border: 1px solid red; */
    /* display: flex; */
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    position: relative;
    z-index: 1;

}
.testimony-wrap img{
    width: 900px;
    height: 400px;
    display: block;
    margin-top: 40px;
    position: relative;
    z-index: 5;

}
.testimony-content{
    width: 490px;
    height: 160px;
    background-color: white;
    color: black;
    position: absolute;
    z-index: 10;
    /* border: 1px solid red; */
    left: 30%;
    top: 360px;

}
.testimony-content p{
    padding: 30px 30px;
}
.testimony-content h5{
    text-align: center;
    margin: 0px 0px;
    font-size: 15px;
}
.testimony-content img{
    width: 150px;
    height: 150px;
    z-index: 20;
    position: absolute;
    left: 30%;
    top: -160px;
}
/* subscribe section */

.subcribe-section{
width: 100%;
height: 100vh;
/* border: 1px solid blue; */
align-items: center;

}
.subsection{
    width: 700px;
    height: 250px;
    /* border: 1px solid red; */
    margin-left: 400px;
    margin-top: 50px;
    background-color: #cee4db;
    border-top-left-radius: 100px;
}
.subsection-wrap{
    height: 100px;
    width: 600px;
    display: flex;
    align-items: center;
    justify-items: center;
   
    
 
}
.subsection h4{
    font-size: 27px;
    text-align: center;
    margin: 20px 0px;
}
.subsection-wrap img{
    width: 300px;
    height: 50px;
    margin-left: 120px;
    
    
}

.subsection-wrap button{
    margin-left: 10px;
    background-color: #00a651; 
    color: white;
    /* margin-right: 10px; */
    height: 50px;
    width: 100px;
    border-radius: 10px;
    border-color: #00a651;
   
}
/* end section */
.end-section{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* .tg-wrap img{
    width: 100px;
    height: 50px;
    
} */
/* .tg-wrap p{
    width: 200px;
}
.tg-img2 img{
    width: 500px;
    height: 250px;
    align-items: center;
}
.tg-img3 img{
    width: 500px;
    height: 1100px;
    align-items: center;
    margin-bottom: -50px;
} */

.end-wrap{
    margin-top: 100px;
    width: 800px%;
    height: 250px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
    padding: 20px 20px;
    /* align-items: center; */
}
.tgoo-wrap{
    height: 120px;
    width: 200px;
    /* border: 1px solid red; */
}
.tgoo-wrap img{
    height: 50px;
    width: 65px;
    margin-left: 40px;
}
.tgoo-wrap p{
    margin-top: 20px;
    font-size: 12px;
    margin-left: 10px;
    color: #5E6282;
}

.company-wrap{
    height: 200px;
    width: 200px;
    /* border: 1px solid red; */
    /* justify-items: center; */
}
.company-wrap h5{
    font-weight: 700px;
    margin-bottom: 20px;
    font-size: 15px;
    margin-left: 60px;
}
.company-wrap p{
    margin: 30px 60px;
    font-size: 12px;
    color: #5E6282;
}    


.contact-wrap{
    height: 200px;
    width: 200px;
    /* border: 1px solid red; */
    /* justify-items: center; */
}
.contact-wrap h5{
    font-weight: 700px;
    margin-bottom: 20px;
    font-size: 15px;
    margin-left: 60px;
}
.contact-wrap p{
    margin: 30px 60px;
    font-size: 12px;
    color: #5E6282;
}


.more-wrap{
    height: 200px;
    width: 200px;
    /* border: 1px solid red; */
    /* justify-items: center; */
}
.more-wrap h5{
    font-weight: 700px;
    margin-bottom: 20px;
    font-size: 15px;
    margin-left: 60px;
}
.more-wrap p{
    margin: 30px 60px;
    font-size: 12px;
    color: #5E6282;

}



.socialmedia-wrap{
    height: 200px;
    width: 300px;
    /* border: 1px solid red; */
}
.socialmedia-wrap p{
    color: #5E6282;
    font-size: 14px;
    margin: 10px 0px;
   
}
.facebook-wrap{
    height: 80px;
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
}
.playstore{
    height: 80px;
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
}
.playstore img{
    height: 50px;
    width: 150px;
}
