@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "manrope" sans-serif; 
}
.herosection{
    width: 100%;
    height: 100vh;
    /* border: 1px solid red; */
    background-image: url("./travelgo/bgimage.png");
    background-position: top-left;
    background-size: cover;
    background-repeat: no-repeat;
}
.header{
    width: 100%;
    height: 70px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo{
    width: 100px;
    height: 50px;
    /* border: 1px solid hotpink; */
}
.nav {
    width: 300px;
    height: 50px;
    /* border: 1px solid hotpink; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav a{
    width: 85px;
    height: 30px;
    /* border: 1px solid blue; */
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #ffffff;
    font-size: 20px;
    
}
.profile{
    width: 110px;
    height: 50px;
    /* border: 1px solid hotpink; */
    display: flex;
    justify-content: space-between;
    align-items: center
}
.menu-bar{
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 8px;
    padding: 8px 5px;
    display: none;
  }
.hero-content{
    width: 50%;
    /* border: 1px solid pink; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    margin-bottom: 100px ;
    justify-items: center;
    
}

.tagline h1{
    font-size: 50px;
    color: #ffffff;
    text-align: center;
    margin-top: 50px;
    line-height: 60px;
    width: 500px;
}
.herotext p{
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
    width: 400px;
}
.cta button{
    width: 214px;
    height: 64px;
    background-color: #00a651;
    color: #ffffff;
    display: block;
    margin: 20px auto;
    border-radius: 10px;
    /* border-color: #00a651; */
}
.service-rap {
    padding: 50px;
    background-color: #ffffff;
    width: 100%;
    height: 100vh;
    /* margin-bottom: 40px; */
    border: 1px solid blue;
}
.service-rap h1{
    text-align: center;
    margin-bottom: 30px;
    font-size: 30px;
}
.service-card-rap{
    display: flex;
    justify-content: space-around;
    /* gap: 100px; */
    border: 1px solid green;
    height: 60vh;
    width: 100%;
    justify-content: center;
    /* align-items: center; */
    padding: 50px 50px;
    background-color: #ffffff;

}
.card-grey{
    /* border: 1px solid red; */
    width: 416px;
    height: 180px;
    border-radius: 15px;
    background-color: #f9f9f9;
    padding: 20px 45px;
}
.card-grey h6{
    font-weight: 800px;
    font-size: 20px;
    margin-top: 18px;
    margin-bottom: 13px;
}
.card-white{
    /* border: 1px solid red; */
    width: 416px;
    height: 180px;
    border-radius: 15px;
    padding: 20px 45px;
    background-color: #FFFFFF;
    

}
.card-white h6{
    font-weight: 800px;
    font-size: 20px;
    margin-top: 18px;
    margin-bottom: 13px;  
}
.card-greyii{
    /* border: 1px solid red; */
    width: 416px;
    height: 180px;
    border-radius: 15px;
    background-color: #f9f9f9;
    padding: 20px 45px;
}
.card-greyii h6{
    font-weight: 800px;
    font-size: 20px;
    margin-top: 18px;
    margin-bottom: 13px;    
}


/* ################### */
.best-section{
    padding: 50px;
    width: 1751;
    height: 450px;
    border: solid red;
    background-image: url(./travelgo/world_map.png);
    background-color: rgb(227, 236, 248);
    /* justify-items: center; */
}

.best-section-content {
    margin-top: 40px;
    /* border: 1px solid green; */
    justify-items: center;
}
.best-section-content h1{
    font-size: 35px;
    font-weight: 700px;
    text-align: center;
    width: 518px;
    /* height: 40px; */
    /* margin: 0px auto; */
    
    
}
.best-section-content p{
    font-size: 15px;
    font-weight: 400px;
    text-align: center;
    width: 495px;
    margin-top: 10px;
    /* height: 44px; */
    /* margin: 45px auto; */
    
}
.best-section-wrap{
    width: 1500;
    height: 250px;
    display: flex;
    /* border: solid red; */
    align-items: center;
    /* gap: 100px; */
    justify-content: space-between;
}
.experience{
    /* border: 1px solid red; */
    width: 200px;
    height: 170px;
    border-radius: 15px;
    justify-items: center;
    background-color: #ffffff;
    align-items: center;
    padding-top: 30px;
    
}

.experience h3{
    margin-top: 15px;
    margin: bottom 15px;
    text-align: center;
    
}
.experience h6{
    /* ,,,,,,,,,,,, */
    margin-top: 10px;
    margin: bottom 15px;
    text-align: center;
}
.travellers{
    /* border: 1px solid red; */
    width: 200px;
    height: 170px;
    border-radius: 15px;
    justify-items: center;
    background-color: #ffffff;
    align-items: center;
    padding-top: 30px;
}
.travellers h3{
    /* ,,,,,,,,,,,, */
    margin-top: 10px;
    margin: bottom 15px;
    text-align: center;
}
.travellers h6{
    /* ,,,,,,,,,,,, */
    margin-top: 10px;
    margin: bottom 15px;
    text-align: center;
}
.visited{
    /* border: 1px solid red; */
    width: 200px;
    height: 170px;
    border-radius: 15px;
    justify-items: center;
    background-color: #ffffff;
    align-items: center;
    padding-top: 30px;
}
.visited h3{
    /* ,,,,,,,,,,,, */
    margin-top: 10px;
    margin: bottom 15px;
    text-align: center;
}
.visited h6{
    /* ,,,,,,,,,,,, */
    margin-top: 10px;
    margin: bottom 15px;
    text-align: center;
}
.history{
    /* border: 1px solid red; */
    width: 200px;
    height: 170px;
    border-radius: 15px;
    justify-items: center;
    background-color: #ffffff;
    align-items: center;
    padding-top: 30px;
    

}
.history h3{
    /* ,,,,,,,,,,,, */
    margin-top: 10px;
    margin: bottom 15px;
    text-align: center;
}
.history h6{
    /* ,,,,,,,,,,,, */
    margin-top: 10px;
    margin: bottom 15px;
    text-align: center;
}
.our-population-destinations{
    /* border: 1px solid blue; */
}
.our-population-destinations h2{
    text-align: center;
    font-size: 40px;
    margin: 20px 0px;
}
.population-wrap{
    display: flex;
    /* gap: 100px; */
    height: 500px;
    /* border: 1px solid green; */
    justify-content: space-around;
}
.tin_wrap{
    justify-items: space-between;
    gap: 20px;
    border: 1px solid red;
    height: 450px;
    margin-top: 20px;
}
.thailand{
    width: 450px;
    height: 100px;
    display: flex;
    /* border: 1px solid black; */
    border-radius: 15px;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}
.thai{
    width: 100px;
    height: 100px;
}
.arr{
    width: 20px;
    height: 20px;
}
.indonesia{
    width: 450px;
    height: 100px;
    display: flex;
    /* border: 1px solid black; */
    border-radius: 15px;
    justify-content: space-between;
    align-items: center;
    margin:50px 0px;
}
.indo{
    width: 100px;
    height: 100px;
}
.arr2{
    width: 20px;
    height: 20px;
}
.New_Zealand{
    width: 450px;
    height: 100px;
    display: flex;
    /* border: 1px solid black; */
    border-radius: 15px;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0px;
}
.new{
    width: 100px;
    height: 100px;
}
.arr3{
    width: 20px;
    height: 20px;
}
.best-package-section {
    /* border: 1px solid blue; */
    width: 100%;
    height: 115vh;
    padding: 40px 60px;
    background-color:  #ECF1F0;
    justify-items: center;
    justify-content: space-between;
}
.best-package-section h2{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}
.package_wrap {
    width: 100%;
    height: 100px;
    /* border: 1px solid green; */
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    padding: 20px;
    margin: 30px 0px;
}
.tab{
    /* border: 1px solid red; */
    width: 180px;
    height: 50px;
    background-color: #666666;
    color: #ffffff;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 15px;
}
.packages-cards{
    display: flex;
    justify-content: space-around;
    justify-items: center;
    align-items: center;

}
.card1-content{
    padding: 10px;
}

.package-card1{
    height: 340px;
    width: 337px;
    /* border: 1px solid orange; */
    background-color: #ffffff;
    margin: 0px 40px;
    
}
.package-card1 img{
    width: 334px;
    height: 65%;
}
.card1-content > p{
    font-size: 10px;
    margin-top: 10px 0px;
    width: 80%;
    padding: 10px;
}
.pc1-content1{
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
    
}
.pc1-content2{
    display: flex;
    justify-content: space-between;
    margin: 10px 10px;
}
.pc1-content2 img{
    width: 10px;
    height: 10px;
}

/* packages-card second card */

.card2-content{
    padding: 10px;
}

.package-card2{
    height: 340px;
    width: 337px;
    /* border: 1px solid orange; */
    background-color: #ffffff;
    margin: 0px 40px;
    
}
.package-card2 img{
    width: 334px;
    height: 65%;
}
.card2-content > p{
    font-size: 10px;
    margin-top: 10px 0px;
    width: 80%;
    padding: 10px;
}
.pc2-content1{
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
    
}
.pc2-content2{
    display: flex;
    justify-content: space-between;
    margin: 10px 10px;
}
.pc2-content2 img{
    width: 10px;
    height: 10px;
}

/* packages-card third card in packages section*/
.card3-content{
    padding: 10px;
}

.package-card3{
    height: 340px;
    width: 337px;
    /* border: 1px solid orange; */
    background-color: #ffffff;
    margin: 0px 40px;
    
}
.package-card3 img{
    width: 334px;
    height: 65%;
}
.card3-content > p{
    font-size: 10px;
    margin-top: 10px 0px;
    width: 80%;
    padding: 10px;
}
.pc3-content1{
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
    
}
.pc3-content2{
    display: flex;
    justify-content: space-between;
    margin: 10px 10px;
}
.pc3-content2 img{
    width: 10px;
    height: 10px;
}
.best-package-section button {
    width: 200px;
    height: 50px;
    background-color: #00a651;
    color: white;
    border-radius: 15px;
    margin-top: 30px;
    border-color: #00a651;
    
}

/* book section */
.book-section {
    width: 100%;
    height: 100vh;
    padding: 10px;
    border: 1px solid red;
}

.book-section h2{
    font-size: 35px;
    text-align: center;
    margin-top: 20px;
}
.book-section p{
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
}
.trip{
    height:500px;
    width: 100%;
    display: flex;
    justify-items: center;
    justify-content: space-around;
    padding: 0px 30px ;
    border: 1px solid red;
}
.trip img{
    display: block;
    /* margin: auto auto; */
    width: 700px;
    height: 500px;
    margin-bottom: 20px;
}


 /* testimony section */
.testimony {
    width: 100%;
    height: 110vh;
    /* border: 1px solid green; */
    padding: 25px 60px;
    /* margin-top: 170px; */
    background-color:  #ECF1F0;
}
.testimony h2{
    text-align: center;
    margin: 10px 20px;
    font-size: 35px;

}
.testimony-wrap{
    width: 100%;
    height: 550px;
    border: 1px solid red;
    /* display: flex; */
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    position: relative;
    z-index: 1;

}

.testimony-wrap img{
    width: 900px;
    height: 400px;
    display: block;
    margin-top: 40px;
    position: relative;
    z-index: 5;

}
.testimony-content{
    width: 490px;
    height: 160px;
    background-color: white;
    color: black;
    position: absolute;
    z-index: 10;
    /* border: 1px solid red; */
    left: 30%;
    top: 360px;

}
.testimony-content p{
    padding: 30px 30px;
}
.testimony-content h5{
    text-align: center;
    margin: 0px 0px;
    font-size: 15px;
}
.testimony-content img{
    width: 150px;
    height: 150px;
    z-index: 20;
    position: absolute;
    left: 30%;
    top: -160px;
}
/* subscribe section */

.subcribe-section{
width: 100%;
height: 100vh;
/* border: 1px solid blue; */
/* align-items: center; */

}
.subsection{
    width: 50%;
    height: 250px;
    border: 1px solid red;
    margin: 30px auto;
    background-color: #cee4db;
    border-top-left-radius: 100px;
}
.subsection-wrap{
    height: 100px;
    width: 600px;
    display: flex;
    align-items: center;
    justify-items: center;
   
    
 
}
.subsection h4{
    font-size: 27px;
    text-align: center;
    margin: 20px 0px;
}
.subsection-wrap img{
    width: 300px;
    height: 50px;
    margin-left: 120px;
    
    
}

.subsection-wrap button{
    margin-left: 10px;
    background-color: #00a651; 
    color: white;
    /* margin-right: 10px; */
    height: 50px;
    width: 100px;
    border-radius: 10px;
    border-color: #00a651;
   
}
/* end section */
.end-section{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.end-wrap{
    margin-top: 100px;
    width: 100%;
    height: 250px;
    border: 1px solid red;
    display: flex;
    justify-content: space-around;
    padding: 20px 20px;
    /* align-items: center; */
}
.tgoo-wrap{
    height: 120px;
    width: 200px;
    /* border: 1px solid red; */
}
.tgoo-wrap img{
    height: 50px;
    width: 65px;
    margin-left: 40px;
}
.tgoo-wrap p{
    margin-top: 20px;
    font-size: 12px;
    margin-left: 10px;
    color: #5E6282;
}

.company-wrap{
    height: 200px;
    width: 200px;
    /* border: 1px solid red; */
    /* justify-items: center; */
}
.company-wrap h5{
    font-weight: 700px;
    margin-bottom: 20px;
    font-size: 15px;
    margin-left: 60px;
}
.company-wrap p{
    margin: 30px 60px;
    font-size: 12px;
    color: #5E6282;
}    


.contact-wrap{
    height: 200px;
    width: 200px;
    /* border: 1px solid red; */
    /* justify-items: center; */
}
.contact-wrap h5{
    font-weight: 700px;
    margin-bottom: 20px;
    font-size: 15px;
    margin-left: 60px;
}
.contact-wrap p{
    margin: 30px 60px;
    font-size: 12px;
    color: #5E6282;
}


.more-wrap{
    height: 200px;
    width: 200px;
    /* border: 1px solid red; */
    /* justify-items: center; */
}
.more-wrap h5{
    font-weight: 700px;
    margin-bottom: 20px;
    font-size: 15px;
    margin-left: 60px;
}
.more-wrap p{
    margin: 30px 60px;
    font-size: 12px;
    color: #5E6282;

}



.socialmedia-wrap{
    height: 200px;
    width: 300px;
    /* border: 1px solid red; */
}
.socialmedia-wrap p{
    color: #5E6282;
    font-size: 14px;
    margin: 10px 0px;
   
}
.facebook-wrap{
    height: 80px;
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
}
.playstore{
    height: 80px;
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
}
.playstore img{
    height: 50px;
    width:  150px;
}

@media only screen and (max-width: 600px){
  .header{
    justify-content: space-between;
    padding: 0px 15px;
  }
    .nav{
    display: none;
  }  
  .profile{
    display: none;
  }
  .menu-bar{
    display: block;
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 8px;
    padding: 8px 5px;
  }
  .menu-bar div{
    width: 40px;
    height: 4px;
    background-color: black;
    margin-bottom: 18px ;
  }

  .hero-content{
    width: 90%;
    /* border: 1px solid pink; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    margin-bottom: 100px ;
    /* justify-items: center; */
    
}
.tagline h1{
    font-size: 40px;
    margin-top: 50px;
    line-height: 40px;
    width: 400px;
}

.herotext p{
    font-size: 15px;
    text-align: center;
    margin-top: 15px;
    width: 350px;
}
.cta button{
    width: 184px;
    height: 50px;
    margin: 40px auto;
    border-radius: 10px;
    /* border-color: #00a651; */
}
/* ########## */
.service-card-rap{
    display: flex;
    flex-direction: column;
    /* gap: 100px; */
    /* border: 1px solid green; */
    height: 80vh;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 20px 20px;
    background-color: #ffffff;
}
/* ############## */

.population-wrap{
    display: flex;
    flex-direction: column;
    /* gap: 100px; */
    height: fit-content;
    /* border: 1px solid green; */
    justify-content: space-around;
}
/* ############ */

.tin_wrap{
    padding: 0px 20px;
    }
.thailand{
        width: 100%;
}

.indonesia{
    width: 100%;
}
.New_Zealand{
    width: 100%;
}
/* #################### */
.best-section{
    padding: 20px;
    width: 100%;
    height: 80vh;

}
.best-section-content h1{
    font-size: 20px;
    font-weight: 500px;
    text-align: center;
    width: 350px;
    /* height: 40px; */
    /* margin: 0px auto; */
    
    
}
.best-section-content p{
    font-size: 15px;
    font-weight: 400px;
    text-align: center;
    width: 250px;
    /* margin-top: 5px; */
    /* height: 44px; */
    /* margin: 45px auto; */
    
}
.best-section-wrap{
    margin-top: 20px;
    padding: 20px 20px;
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
    justify-content: space-around;
    justify-items: center;
    gap: 80px;
   
}
.best-section-wrap img{
    width: 20px;
    height: 20px;
}
.experience{
    width: 110px;
    height: 120px;
}
.travellers{
    width: 110px;
    height: 120px;
}
.visited{
    width: 110px;
    height: 120px;
}
.history{
    width: 110px;
    height: 120px;
}

.best-section-content {
    margin-top: 10px;
    /* border: 1px solid green; */
    justify-items: center;
}
.best-section-content h1{
    font-size: 25px;
    font-weight: 700px;
    text-align: center;
    width: 400px;
    /* height: 40px; */
    /* margin: 0px auto; */
    
    
}
.best-section-content p{
    font-size: 15px;
    font-weight: 400px;
    text-align: center;
    width: 350px;
    margin-top: 10px;
    /* height: 44px; */
    /* margin: 45px auto; */
    
}
/* ############################## */

.best-package-section {
    /* border: 1px solid blue; */
    width: 100%;
    height: fit-content;
    /* padding: 40px 60px; */

}
.package_wrap{
    flex-wrap: wrap;
    gap: 20px;
    height: fit-content;
}
.best-package-section h2{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.tab{
    /* border: 1px solid red; */
    width: 100px;
    height: 30px;
    background-color: #666666;
    color: #ffffff;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}

.packages-cards{
    flex-direction: column;
    gap: 20px;
    justify-items: center;
    align-items: center;

}
/* #################### */

.book-section {
    width: 100%;
    height: fit-content;
    padding: 10px;
    justify-content: center;
}
.trip{
    height: fit-content;
}
.trip img{
    display: block;
    /* margin: auto auto; */
    width: 100%;
    height: 400px;
}
/* ####################### */

.testimony {
    width: 100%;
    height: 110vh;
    /* border: 1px solid green; */
    padding: 10px 10px;
    background-color:  #ECF1F0;
}
.testimony-wrap{
    width: 100%;
    height: 600px;
    /* border: 1px solid red; */
    /* display: flex; */
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    position: relative;
    z-index: 1;

}
.testimony-wrap img{
    width: 100%;
    height: 400px;
}
.testimony-content{
    width: 300px;
    height: 230px;
    background-color: white;
    color: black;
    position: absolute;
    z-index: 10;
    /* border: 1px solid red; */
    left: 10%;
    top: 350px;

}
.testimony-content img{
    width: 150px;
    height: 100px;
    z-index: 20;
    position: absolute;
    left: 25%;
    top: -100px;
}
.testimony-content p{
    padding: 20px 20px;
    margin-top: 30px;
} 
/* ########################## */
.subcribe-section{
    padding: 10px;
}
.subsection{
    width: 100%;
    height: fit-content;
    /* border: 1px solid red; */
    border-top-left-radius: 15px;
}
.subsection h4{
    font-size: 17px;
    width: 300px;
    margin: auto;
}
.subsection img{
   width: 200px;
   height: 50px;
   margin-left: 20px;
}


.end-wrap{
    margin-top: 50px;
    width: 100%;
    height: fit-content;
    flex-wrap: wrap;
   
}
.tgoo-wrap{
    width: 120px
}
.tgoo-wrap img{
    margin-left: 0px;
}
.company-wrap{
    width: 120px
}
.more-wrap{
    width: 120px;
}
.contact-wrap{
    width: 120px;
   
}
.contact-wrap h5{
    margin-left: 0px;
     
  }
.contact-wrap p{
  margin-left: 0px;
   
}
.socialmedia-wrap{
    width: 100%;
    margin-top: 20px;
}



}


